<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" />
    <![endif]-->

    <style>
      #map { height: 500px; }
    </style>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.4/leaflet.js"></script>

</head>
<body>

  <div id="map">

  </div>

  <script type="text/javascript">
    // $.get('http://nominatim.openstreetmap.org/search/?city=San%20Francisco&state=CA&format=json', function (data) {
    //   console.log(data);
    //
    // });

    var map = L.map('map').setView([37.7750, -122.4183], 13);

    L.tileLayer('http://a.tile.cloudmade.com/b39f4c771f514bf5b3e3c3c7039433ad/997/256/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
        maxZoom: 18
    }).addTo(map);

    <% @venues.each do | venue | %>
      var marker = L.marker([<%= venue["location"]["lat"] %>, <%= venue["location"]["lng"] %>]).addTo(map);
      marker.bindPopup("<%= venue["name"] %> - <%= venue["url"] %>");
    <% end %>
  </script>

</body>
</html>
