<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" />
    <![endif]-->

    <style>
      body {
        padding: 0;
        margin: 0;
      }
      html, body, #map { height: 100%; }
    </style>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.4/leaflet.js"></script>

</head>
<body>

  <div id="map">

  </div>

  <script type="text/javascript">

    navigator.geolocation.getCurrentPosition(load_theaters);

    function load_theaters(position) {
      
      var center = new L.LatLng(position.coords.latitude, position.coords.longitude);
      // var center = new L.LatLng(40.7142, -74.0064); // Control NY
      
      var map = L.map('map').setView([center.lat, center.lng], 13);
      
      L.tileLayer('http://a.tile.cloudmade.com/b39f4c771f514bf5b3e3c3c7039433ad/997/256/{z}/{x}/{y}.png', {
          attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
          maxZoom: 18
      }).addTo(map);
      
      $.getJSON('venues', { lat: center.lat, lng: center.lng }, function (venues) {
        
        venues.forEach(function (venue, i) {
          
          $.getJSON('venue/' + venue.id + '/movies', function (movies) {
            var marker = L.marker([venue.location.lat, venue.location.lng]).addTo(map);
            var content = venue.name + ' - ' + '<a href="' + venue.url + '">' + venue.url + '</a>';
            
            content += '<ul>';
            movies.forEach(function (movie, i) {
              content += '<li>' + movie.name + '</li>'
            });
            content += '</ul>';
            marker.bindPopup(content);
          })
          
          
        });
        
      });
    }

  </script>

</body>
</html>
